td {
    width: 250px;
    height: 50px;
    background-color: WhiteSmoke;
    color: black;
    text-shadow: 5px 5px 10px Black;
    -webkit-transition: height 2s;
     transition: height 2s;
    }
    td:hover {
    width: 300px;
  	height: 300px;
	}
  	th {
    	border-radius: 10px;
  		color: white;
  		background: linear-gradient(to bottom, #cc0099 0%, #6600ff 100%); 
  		}

a {
  color:lightseagreen;
}

a:visited {
    color: magenta;
}

a:hover {
    color: mediumpurple;
}

a:active {
    color: orange;
}
